* {
    font-family: Arial, sans-serif;
    background-color: #141414;
}

main {
    color: #eee7d2;
}

img{
    width: 200px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

img:hover {
    width: 250px;
    box-shadow: #eee7d2 10px 10px 10px;

}
